<app-nav-bar><!-- chamar na home.module.ts para não dar erro já que não são do msm módulo-->
<ng-container><!--para que a página tenha varios elementos, precisa agrupar em um único elemento(ng-content tem todo elemento)-->
    <h1>Helpr</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, maiores. Minima suscipit necessitatibus quis. Sunt temporibus laudantium molestias neque reiciendis modi quam illo beatae debitis. Recusandae, harum architecto. Architecto, beatae!</p>
</ng-container>
</app-nav-bar>

